<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>generateAppStoreInformation</key>
	<true/>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>F76QBA9P66</string>
	<key>uploadBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
  <key>provisioningProfiles</key>
  <dict>
  <key>com.meprism.privacy</key>
  <string>mePrism Privacy Profile</string>
  <key>com.mePrism.client</key>
  <string>mePrism App Distribution</string>
  <key>com.mePrism.client.development</key>
  <string>mePrism App Distribution-development</string>
  <key>com.mePrism.client.staging</key>
  <string>mePrism App Distribution-staging</string>
  </dict>
</dict>
</plist>
